<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!!
    </h1>

    <div>
        <button (click)="updateDialog('new stuff')">
            Update 1
        </button>
        <button (click)="updateDialog('newer stuff')">
            Update 2
        </button>
        <button (click)="updateDialog('newest stuff')">
            Update 3
        </button>
        <button (click)="clearDialog()">
            X
        </button>
    </div>



    <dialog-box></dialog-box>


</div>
